


# referenced by /etc/postfix/main.cf, alias_maps/alias_database

# Person who should get root's mail
root:		{{ mda_user }}

{{ mda_user }}: {{ mda_address }}

# Let's Encrypt
certbot: {{ mda_user }}

{% if extra_aliases is defined %}{{ extra_aliases }}{% endif %}

# Aliases that are in virtual_mailbox on the other MTA
{% set xs = virtual_mailbox.splitlines() %}
{% for x in xs %}
    {%- if x.endswith(mta_domain + '/') %}
        {%- set alias, _ = x.split('@') %}
        {%- if alias != 'mail' %}
            {{- alias }}: {{ mda_user }}
{% endif %}
{% endif %}
{% endfor %}




