[self]
download-dir = .
old-etc = /mnt/old/etc
old-var = /mnt/old/var
# restores an old zsh_history if present
# old-root = /mnt/old/root

[init]
device = /dev/vdb
#mirror = /dev/vdc
cryptsetup = false
boot-btrfs = true
# issue whole-device TRIM if target device is an SSD
discard = true
# set to false when installing to removable media
# the fallback yields UEFI bootmanager updates
uefi-fallback = true
# set to false when installing to removable media
# with the hostonly option dracut excludes some kernel modules
# => smaller initramfs, but less portable to different hardware
hostonly = true
# Set `password-file = -` if you prefer an interactive prompt
password-file = pw
release = 33
authorized-keys = ssh-ed25519 t3Hk3Y juser@hosta.example.org

# Enable/disable SELinux (default: enabled)
# selinux = true


[target]
# optinal, defaults to host release
release = 33
# optional, current year by default
rpmfusion-year = 2020
rpmfusion-fingerprint = E9A4 91A3 DE24 7814 E7E0  67EA E06F 8ECD D651 FF2E
# package-list = package.list
# unpackage-list = unpackage.list
git-name = Joe User
git-mail = juser@example.org
hostname = hostb.example.org
user = juser
init-user = true
locale = LANG=en_US.UTF-8
timezone = Europe/Berlin
enable-services = gdm.service
restore-postfix = true
restore-postgres = true
setup-pamu2f = true
setup-nfsd = false
setup-networkd = false
#mount-points = /mnt/main
#    /mnt/backup
custom-etc-files = NetworkManager/conf.d/00-unmanaged
    cups/ppd/FS-C5100DN.ppd
    cups/printers.conf
    firewalld/services/murmur.xml
    murmur/murmur.ini
    ssh/ssh_host_ecdsa_key
    ssh/ssh_host_ecdsa_key.pub
    ssh/ssh_host_ed25519_key
    ssh/ssh_host_ed25519_key.pub
    ssh/ssh_host_rsa_key
    ssh/ssh_host_rsa_key.pub
    sysconfig/network-scripts/ifcfg-Auto_somewlan
    sysconfig/network-scripts/keys-Auto_somewlan
    trafficserver/records.config
