[self]
download-dir = .
#old-etc = /mnt/old/etc
#old-var = /mnt/old/var
# restores an old zsh_history if present
#old-root = /mnt/old/root

[init]
device = /dev/sda
#mirror = /dev/vdc
cryptsetup = true
# set to false when installing to removable media
# the fallback yields UEFI bootmanager updates
uefi-fallback = true
# Set `password-file = -` if you prefer an interactive prompt
password-file = -
release = 33
authorized-keys = ssh-ed25519 t3Hk3Y juser@hosta.example.org

[target]
release = 33
rpmfusion-year = 2020
rpmfusion-fingerprint = E9A4 91A3 DE24 7814 E7E0  67EA E06F 8ECD D651 FF2E
package-list = package-media.list
unpackage-list = unpackage-media.list
git-name = Joe User
git-mail = juser@example.org
hostname = hostb.example.org
user = juser
init-user = true
locale = LANG=en_US.UTF-8
timezone = Europe/Berlin
enable-services = gdm.service
restore-postfix = false
restore-postgres = false
setup-pamu2f = false
setup-nfsd = false
setup-networkd = true
mount-points = /mnt/main
    /mnt/backup
    /mnt/cdrom
