[self]
download-dir = .
old-etc = /mnt/old-root/etc
old-var = /mnt/old-root/var

[init]
device = /dev/vdb
#mirror = /dev/vdc
cryptsetup = false
# set to false when installing to removable media
# the fallback yields UEFI bootmanager updates
uefi-fallback = true
# Set `password-file = -` if you prefer an interactive prompt
password-file = pw
release = 27
authorized-keys = ssh-ed25519 t3Hk3Y juser@hosta.example.org

[target]
git-name = Joe User
git-mail = juser@example.org
hostname = hostb.example.org
user = juser
init-user = true
locale = LANG=en_US.UTF-8
timezone = Europe/Berlin
enable-services = gdm.service
restore-postfix = true
restore-postgres = true
setup-pamu2f = true
setup-nfsd = false
custom-etc-files = NetworkManager/conf.d/00-unmanaged
    cups/ppd/FS-C5100DN.ppd
    cups/printers.conf
    firewalld/services/murmur.xml
    murmur/murmur.ini
    ssh/ssh_host_ecdsa_key
    ssh/ssh_host_ecdsa_key.pub
    ssh/ssh_host_ed25519_key
    ssh/ssh_host_ed25519_key.pub
    ssh/ssh_host_rsa_key
    ssh/ssh_host_rsa_key.pub
    sysconfig/network-scripts/ifcfg-Auto_somewlan
    sysconfig/network-scripts/keys-Auto_somewlan
    trafficserver/records.config
