[self]
download-dir = .

[init]
device = /dev/vdb
cryptsetup = true
# set to false when installing to removable media
# the fallback yields UEFI bootmanager updates
uefi-fallback = false
# the initramfs should include all modules
hostonly = false
# Set `password-file = -` if you prefer an interactive prompt
password-file = -
release = 29
authorized-keys = ssh-ed25519 t3Hk3Y juser@hosta.example.org

[target]
rpmfusion-fingerprint = BD12 7385 C312 090F F2F3  5FA1 1191 A7C4 42F1 9ED0
package-list = package-stick.list
git-name = Joe User
git-mail = juser@example.org
hostname = hostb.example.org
user = juser
init-user = true
locale = LANG=en_US.UTF-8
timezone = Europe/Berlin
