[self]
download-dir = .
old-etc = /mnt/old-root/etc
old-var = /mnt/old-root/var

[init]
device = /dev/sda
#mirror = /dev/vdc
cryptsetup = true
# set to false when installing to removable media
# the fallback yields UEFI bootmanager updates
uefi-fallback = true
# Set `password-file = -` if you prefer an interactive prompt
password-file = -
release = 27
authorized-keys = ssh-ed25519 t3Hk3Y juser@hosta.example.org

[target]
package-list = package-media.list
# unpackage-list = unpackage.list
git-name = Joe User
git-mail = juser@example.org
hostname = hostb.example.org
user = juser
init-user = true
locale = LANG=en_US.UTF-8
timezone = Europe/Berlin
enable-services = gdm.service
restore-postfix = false
restore-postgres = false
setup-pamu2f = false
setup-nfsd = false
