[self]
download-dir = .
old-etc = /mnt/old/etc
#old-var = /mnt/old/var
# restores an old zsh_history if present
old-root = /mnt/old/root

[init]
device = /dev/sda
#mirror = /dev/vdc
cryptsetup = true
# set to false when installing to removable media
# the fallback yields UEFI bootmanager updates
uefi-fallback = true
# Set `password-file = -` if you prefer an interactive prompt
password-file = -
release = 31
authorized-keys = ssh-ed25519 t3Hk3Y juser@hosta.example.org

[target]
rpmfusion-fingerprint = 59A7 FE07 F664 C1B2 7687  C5D2 6DEE F051 C481 937A
package-list = package-media.list
# unpackage-list = unpackage.list
git-name = Joe User
git-mail = juser@example.org
hostname = hostb.example.org
user = juser
init-user = true
locale = LANG=en_US.UTF-8
timezone = Europe/Berlin
enable-services = gdm.service
restore-postfix = false
restore-postgres = false
setup-pamu2f = false
setup-nfsd = false
mount-points = /mnt/main
    /mnt/backup
    /mnt/cdrom
