[self]
download-dir = .
old-etc = /mnt/old/etc
#old-var = /mnt/old/root/var
# restores an old zsh_history if present
old-root = /mnt/old/root

[init]
device=/dev/disk/by-id/ata-TOSHIBA_1234
mirror=/dev/disk/by-id/ata-INTEL_1234
cryptsetup = false
password-file=pw
release = 33
authorized-keys = ssh-ed25519 t3Hk3Y juser@hosta.example.org

[target]
release = 33
rpmfusion-year = 2020
rpmfusion-fingerprint = E9A4 91A3 DE24 7814 E7E0  67EA E06F 8ECD D651 FF2E
package-list = package-nfsd.list
unpackage-list = unpackage-nfsd.list
git-name = Joe User
git-mail = juser@example.org
hostname = hostb.example.org
user = juser
init-user = true
locale = LANG=en_US.UTF-8
timezone = Europe/Berlin
enable-services = tuned.service
restore-postfix = false
restore-postgres = false
setup-pamu2f = false
setup-nfsd = true
setup-networkd = true
mount-points = /mnt/main
    /mnt/backup
    /mnt/tmp
    /mnt/old
custom-etc-files = exports.d/main.exports
    modprobe.d/intel_qat.conf
