[self]
download-dir = .

[init]
device = /dev/vdb
cryptsetup = true
# set to false when installing to removable media
# the fallback yields UEFI bootmanager updates
uefi-fallback = false
# the initramfs should include all modules
hostonly = false
# Set `password-file = -` if you prefer an interactive prompt
password-file = -
release = 35
authorized-keys = ssh-ed25519 t3Hk3Y juser@hosta.example.org

[target]
release = 35
rpmfusion-year = 2020
rpmfusion-fingerprint = E9A4 91A3 DE24 7814 E7E0  67EA E06F 8ECD D651 FF2E
package-list = package-stick.list
git-name = Joe User
git-mail = juser@example.org
hostname = hostb.example.org
user = juser
init-user = true
locale = LANG=C.UTF-8
timezone = Europe/Berlin
setup-networkd = true
