{% set eth0 = ansible_facts[ansible_facts.default_ipv4.interface] %}
[Match]
MACAddress={{ eth0.macaddress }}

[Network]
{# work around https://github.com/ansible-collections/ansible.netcommon/issues/138 #}
{% if eth0.ipv4.netmask == '255.255.255.255' %}
Address={{ eth0.ipv4.address + '/32' }}
{% else %}
Address={{ (eth0.ipv4.address + '/' + eth0.ipv4.netmask) | ipaddr('host/prefix') }}
{% endif %}
{% for x in eth0.ipv4_secondaries | d([]) %}
Address={{ (x.address + '/' + x.netmask) | ipaddr('host/prefix') }}
{% endfor %}
{% for x in eth0.ipv6 %}
{% if not x.address.startswith('fe80') %}
Address={{ x.address  }}/{{ x.prefix }}
{% endif %}
{% endfor %}

{# Gateway is part of the local network - standard case #}
{% if (ansible_default_ipv4.gateway | ipaddr(ansible_default_ipv4.address + '/' + ansible_default_ipv4.netmask))  %}
Gateway={{ ansible_default_ipv4.gateway }}
{% endif %}
{% if ansible_default_ipv6.gateway is defined %}
Gateway={{ ansible_default_ipv6.gateway }}
{% endif %}

{% for x in ansible_dns.nameservers %}
DNS={{ x }}
{% endfor %}

{# Gateway isn't part of the local network #}
{% if not (ansible_default_ipv4.gateway | ipaddr(ansible_default_ipv4.address + '/' + ansible_default_ipv4.netmask))  %}
[Route]
Gateway={{ ansible_default_ipv4.gateway }}
GatewayOnLink=true
{% endif %}
