server {

    # generic header for Let's Encrypt setup etc.

    root /srv/{{ item.key }};

    ssl_certificate /etc/pki/tls/certs/{{ item.key }}.crt;
    ssl_certificate_key /etc/pki/tls/private/{{ item.key }}.key;

    location /.well-known/acme-challenge {
        root /srv/letsencrypt;

{% if item.value.letsencrypt_buddy is defined %}
        # in case the other host we share our A/AAAA record with has
        # initiated a http letsencrypt challenge we forward requests
        # to non-existing files to him ...
        try_files $uri @letsencrypt-buddy;
{% endif %}
    }

{% if item.value.letsencrypt_buddy is defined %}
    location @letsencrypt-buddy {
        return 302 $scheme://{{ item.value.letsencrypt_buddy }}$request_uri;
    }
{% endif %}


    access_log  /var/log/nginx/{{ item.key }}.access.log;

    # server specific config

{{ lookup('template', 'group_files/nginx/' + item.key + '.conf') }}

}
