[mailserver]
# Since Ansible uses ssh to connect to remote hosts just enter the names you
# use with ssh.
# Make sure that you directly ssh to root or the user has password-less sudo
# configured.
host1 ansible_host=host1.example.org
host2 ansible_host=host2.example.net
