# Example site specific network configuration
#
# Side-load it with e.g.:
#
# echo 'file /etc/systemd/network/20-wired.network example/20-wired.network 0644 0 0' \
#    | gen_init_cpio - | xz > net-cfg.cpio.xz
# cat f32.cpio.xz config-f32.cpio.xz net-cfg.cpio.xz > f32-rescue.cpio.xz
#
# or create a directory hierachy in a temporary directory with this
# and possibly other files and use something like:
#
#    mkrescuenet.py --mk -d tmp -o xyz-cfg.cpio.xz
#


[Match]
MACAddress=e6:b0:c5:83:4f:ea

[Network]
Address=198.51.100.23/24
Address=192.0.2.23/24
Address=2001:DB8:DEAD:CAFE::23/64
Gateway=203.0.113.1
DNS=203.0.113.2
DNS=203.0.113.3
