#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sdd,sde
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s8 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s9 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $a$aa/aaaaaaaaaaaaa$aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.aaaaaaaaaaaaaaaaaaaaaaaa.aaaaaaaaaaaaaaaaaaaaaa
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Berlin --isUtc --ntpservers=fritz.box
user --groups=wheel --name=juser --password=$b$bbbbbbbbbbb.bbbb$bbbbbbbbbbbbbbbb.bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb.bbbbbbbb/bbbb.bbbbbbbbbbbb
# System bootloader configuration
bootloader --location=mbr --boot-drive=sdd
# Partition clearing information
clearpart --all --initlabel --drives=sdd,sde
# Disk partitioning information
part btrfs.313 --fstype="btrfs" --ondisk=sde --size=72218
part btrfs.307 --fstype="btrfs" --ondisk=sdd --size=72218
part raid.637 --fstype="mdmember" --ondisk=sde --size=4100
part raid.631 --fstype="mdmember" --ondisk=sdd --size=4100
raid /boot --device=boot --fstype="ext4" --level=raid1 raid.631 raid.637
btrfs none --label=fedora-server --data=raid1 btrfs.307 btrfs.313
btrfs /home --subvol --name=home 
btrfs / --subvol --name=root 

%packages
@books
@c-development
@container-management
@core
@development-tools
@domain-client
@hardware-support
@headless-management
@server-product
@standard
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end
