#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda,sdb
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s25 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $a$aaaaaaaaaaaaaaaa$aaaaaaaaaaaaaaaaa/a/aaaaaaaaaaaaa/aaaaaaaaaaaaaaaaaaaaaaa.aaaaaaaaaaaaaaaaaaaaaaaaaaaa
# System timezone
timezone Europe/Berlin --isUtc --ntpservers=fritz.box
user --groups=wheel --name=juser --password=$b$bbbbbbbbbbbbbbbb$bbb/bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb.bbbbbbbbbbbbbbbbbbbb/bbbbbbbbbbbb
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda,sdb
# Disk partitioning information
part btrfs.371 --fstype="btrfs" --ondisk=sdb --size=234374 --encrypted
part raid.1538 --fstype="mdmember" --ondisk=sda --size=4100
part raid.1545 --fstype="mdmember" --ondisk=sdb --size=4100
part btrfs.364 --fstype="btrfs" --ondisk=sda --size=234374 --encrypted
raid /boot --device=boot --fstype="ext4" --level=RAID1 raid.1538 raid.1545
btrfs none --label=fedora --data=raid1 btrfs.364 btrfs.371
btrfs / --subvol --name=root LABEL=fedora
btrfs /home --subvol --name=home LABEL=fedora

%packages
@^workstation-product-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end
