
## <summary>policy for gonzofilter</summary>

########################################
## <summary>
##	Execute gonzofilter_exec_t in the gonzofilter domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`gonzofilter_domtrans',`
	gen_require(`
		type gonzofilter_t, gonzofilter_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, gonzofilter_exec_t, gonzofilter_t)
')

######################################
## <summary>
##	Execute gonzofilter in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`gonzofilter_exec',`
	gen_require(`
		type gonzofilter_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, gonzofilter_exec_t)
')

########################################
## <summary>
##	Execute gonzofilter in the gonzofilter domain, and
##	allow the specified role the gonzofilter domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the gonzofilter domain.
##	</summary>
## </param>
#
interface(`gonzofilter_run',`
	gen_require(`
		type gonzofilter_t;
		attribute_role gonzofilter_roles;
	')

	gonzofilter_domtrans($1)
	roleattribute $2 gonzofilter_roles;
')

########################################
## <summary>
##	Role access for gonzofilter
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role
##	</summary>
## </param>
#
interface(`gonzofilter_role',`
	gen_require(`
		type gonzofilter_t;
		attribute_role gonzofilter_roles;
	')

	roleattribute $1 gonzofilter_roles;

	gonzofilter_domtrans($2)

	ps_process_pattern($2, gonzofilter_t)
	allow $2 gonzofilter_t:process { signull signal sigkill };
')
